# For God so loved the world, that He gave His only begotten Son
# That all who believe in Him should not perish but have everlasting life
testbox
cljs-test-runner-out
CMakeFiles
Debug
elm-stuff
obj
.dub
_build
__history
.gradle
.stack-work
build
node_modules
project
target
.precomp
